name: Workflow CI

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
        
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow dagshub pandas scikit-learn joblib matplotlib seaborn

      - name: Run mlflow project
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python MLProject/Modeling_tuning.py
      # Menyimpan artefak ke GitHub
      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: mlruns/

      # Membuat Docker Image
      - name: Build Docker Image
        run: |
         mlflow models build-docker \
          --model-uri "runs:/$RUN_ID/model" \
          --name "churn_model_image" \
          --env-manager local

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push ke Docker Hub
      - name: Tag and Push Docker Image
        run: |
          docker tag churn-model-image ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest











