name: Workflow CI Churn Prediction

on:
  push:
    branches: [ main ]

jobs:
  mlflow_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Solusi Error: Menggunakan setup-miniconda agar perintah 'activate' dikenali
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12.7'
          activate-environment: ml_env

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install mlflow dagshub pandas scikit-learn joblib

      - name: Run mlflow project
        shell: bash -l {0}
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject/

      # Menyimpan artefak ke GitHub
      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: mlruns/

      # Membuat Docker Image
      - name: Build Docker Model
        shell: bash -l {0}
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow models build-docker -m "models:/churn_model/latest" -n "churn-model-image" --env-manager local

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push ke Docker Hub
      - name: Tag and Push Docker Image
        run: |
          docker tag hotel-model-image ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest

