name: Workflow CI

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]

jobs:
  mlflow_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Menggunakan setup-miniconda agar perintah 'activate' dikenali
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12.7'
          activate-environment: ml_env

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow dagshub pandas scikit-learn joblib matplotlib seaborn

      - name: Run mlflow project
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python MLProject/Modeling_tuning.py

      # Menyimpan artefak ke GitHub
      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: mlruns/

      # Membuat Docker Image
      - name: Build Docker Model
        shell: bash -l {0}
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          GUNICORN_CMD_ARGS: "--timeout 60"
        run: |
          # 1. Ambil RUN_ID terbaru secara otomatis
          export 4fed560dbc3d43c1b1137a3866d0fc2c=$(mlflow runs search --experiment-ids 0 --max-results 1 --output csv | tail -n 1 | cut -d, -f1)
          echo "Menggunakan Run ID: $RUN_ID"

          # 2. Build Docker menggunakan URI runs:/ (Lebih stabil daripada models:/)
          # Pastikan di script python kamu, artifact_path namanya 'model' atau 'churn_model'
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n "churn-model-image" --env-manager local
          mlflow models build-docker -m "models:/churn_model/1" -n "churn-model-image" --env-manager local

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Push ke Docker Hub
      - name: Tag and Push Docker Image
        run: |
          docker tag churn-model-image ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest












