- name: Get latest MLflow run_id
        id: get_run
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Kita gunakan ID 0 (Default) jika nama eksperimen sulit dipastikan, 
          # atau kita ambil ID berdasarkan eksperimen terbaru yang tersedia.
          RUN_ID=$(python -c "import mlflow; import os; mlflow.set_tracking_uri(os.environ['MLFLOW_TRACKING_URI']); \
          exps = mlflow.search_experiments(); \
          last_run = mlflow.search_runs(experiment_ids=[exps[0].experiment_id]); \
          print(last_run['run_id'][0])")
          
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT
          echo "Berhasil mendapatkan RUN_ID: $RUN_ID"
