name: CI MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_REPO_OWNER }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_REPO_OWNER }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
          
      # Install mlflow
      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 dagshub pandas numpy scikit-learn matplotlib seaborn joblib
          
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local --experiment-name "CI Training"
      
      # Get latest run_id
      - name: Get latest MLflow run_id
        id: get_run_id
        run: |
          LAST_RUN_ID=$(python -c "import mlflow; mlflow.set_tracking_uri('${{ env.MLFLOW_TRACKING_URI }}'); runs = mlflow.search_runs(experiment_names=['CI Training']); print(runs.iloc[0].run_id)")
          echo "LAST_RUN_ID=$LAST_RUN_ID" >> $GITHUB_ENV
          
      - name: Install Python dependencies
        run: |
          echo "Verifying installed packages..."
          pip freeze
          echo "All dependencies are ready."

     - name: Upload to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlruns-backup
          path: mlruns/
             
      # Build Docker Model
      - name: Build Docker Model
        run: |
          echo "Building Docker for Run ID: ${{ env.LAST_RUN_ID }}"
          mlflow models build-docker \
            -m "runs:/${{ env.LAST_RUN_ID }}/model_churn_final" \
            -n "${{ secrets.DOCKER_USERNAME }}/churn-project:latest" \
            --enable-mlserver 

      # Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Tag the Docker image
      - name: Tag Docker Image
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/churn-project:latest ${{ secrets.DOCKER_USERNAME }}/churn-project:v1
     
      # Push Docker image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/churn-project:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/churn-project:v1



