name: Workflow_CI
on:
  push:
    branches: [ main ]
jobs:
  mlflow_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12'
          activate-environment: ml_env

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow >=2.6 dagshub pandas scikit-learn joblib seaborn matplotlib

      - name: Run mlflow project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python MLProject/Modeling_tuning.py


