name: Workflow_CI

on:
  push:
    branches: [ main ]

jobs:
  mlflow_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12.7'
          activate-environment: ml_env

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install mlflow dagshub pandas scikit-learn joblib seaborn

      - name: Run mlflow project
        shell: bash -l {0}
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python MLProject/Modeling_tuning.py

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
