name: Workflow CI - Churn Prediction

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]

jobs:
  mlflow_job: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow dagshub pandas scikit-learn joblib matplotlib seaborn xgboost optuna

      - name: Run Training & Tuning
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Menjalankan skrip Python churn Anda
          python MLProject/Modeling_tuning.py

      - name: Get latest MLflow run_id
        id: get_run
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Mengambil RUN_ID terbaru dari eksperimen
          RUN_ID=$(python -c "import mlflow; import os; mlflow.set_tracking_uri(os.environ['MLFLOW_TRACKING_URI']); exps = mlflow.search_experiments(); runs = mlflow.search_runs(experiment_ids=[exps[0].experiment_id], max_results=1, order_by=['attribute.start_time DESC']); print(runs['run_id'][0])")
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Berhasil mendapatkan RUN_ID: $RUN_ID"

      - name: Build Docker Model
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # PENTING: Menggunakan /churn_model sesuai dengan artifact_path di Python Anda
          mlflow models build-docker -m "runs:/$RUN_ID/churn_model" -n "churn-model-image" --env-manager local

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag and Push Docker Image
        run: |
          docker tag churn-model-image ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-model:latest
